<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <!-- 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 -->
    <add key="gpr" value="https://nuget.pkg.github.com/ridomin/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <gpr>
        <add key="Username" value="ridomin" />
        <add key="ClearTextPassword" value="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" />
    </gpr>
</packageSourceCredentials>
</configuration>
