<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/c78529a9-b7a6-4146-aa00-6583d63d9249/resourceGroups/Rido_LongTerm_Resources/providers/Microsoft.ContainerRegistry/registries/ridockers</ResourceId>
    <ResourceName>ridockers</ResourceName>
    <ResourceGroup>Rido_LongTerm_Resources</ResourceGroup>
    <Subscription>IoT_E2E_Sub_9</Subscription>
    <RegistryUrl>https://ridockers.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>f49fd80e-4cc4-4cd8-a6a8-b6f546ecc413</ProjectGuid>
  </PropertyGroup>
</Project>