<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>device detail</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <link href="style.css" rel="stylesheet" />
</head>
<body>
    <div id="app" v-cloak>
        <h1>{{device.deviceId}}</h1>
        <div>
            <span :style="{color: device.connectionState === 'Connected' ? 'green' : 'red'}">{{device.connectionState}} </span>
            <span>-</span>
            <span>{{formatDate(device.lastActivityTime)}}</span>
        </div>
        Model: <a href="#">{{device.modelId}}</a>
        <div>
            <h3>Commands</h3>
            <div>getRuntimeStats</div>
            <select v-model="command.request">
                <option value="0">minimal</option>
                <option value="1">complete</option>
                <option value="2" :selected="command.request === 2">full</option>
            </select>
            <button @click="invoke()">invoke</button>
            <pre>
                {{command.response}}
            </pre>
        </div>

        <div>
            <h3>Device Twin</h3>
            <div class="reported">
                <div>
                    <span class="prop-name">started</span>
                    <span class="prop-value">{{gv(device, 'properties.reported.started')}}</span>
                    <div class="prop-md">
                        <span>last updated {{formatDate(gv(device, 'properties.reported.$metadata.started.$lastUpdated'))}}</span>
                    </div>
                </div>
            </div>
            <div class="desired">
                <div class="prop">
                    <span class="prop-name">interval</span>
                    <span class="prop-value">{{gv(device, 'properties.reported.interval.value')}}</span>
                    <input size="1" :value="gv(device, 'properties.desired.interval')" type="text" id="in-interval" /> 
                    <button @click="updateProp('interval')">Update</button>
                    <div v-if="!propsUpdating" class="props-metadata">
                        <div class="prop-md">
                            <span>last updated:</span>
                            <span>{{formatDate(gv(device, 'properties.reported.$metadata.interval.$lastUpdated'))}}</span>
                        </div>
                        <div class="prop-md">
                            <span>version:</span>
                            <span>{{gv(device, 'properties.reported.interval.av')}}</span>
                        </div>
                        <div class="prop-md">
                            <span>status:</span>
                            <span>{{gv(device, 'properties.reported.interval.ac')}}</span>
                        </div>
                        <div class="prop-md">
                            <span>descr:</span>
                            <span>{{gv(device, 'properties.reported.interval.ad')}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script type="module">
        import device from './device.js'
        const { createApp } = Vue
        createApp(device).mount('#app')
    </script>
</body>
</html>