body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
th, td {
    text-align:left;
    padding: 10px
}

.reported, .desired{
    border: 1px solid grey;
    width: 500px;
    padding:5px;
    margin: 5px
}

.reported>div>span {
    margin: 5px
}

span {
    margin: 5px
}

.prop-name, .prop-value {
    font-size:larger
}

.prop-value {
    font-weight:bold
}

.prop-md {
    text-align:right
}

.error {
    color: red
}
.loader {
    border: 5px solid grey;
    border-radius: 50%;
    border-top: 5px solid darkblue;
    width: 30px;
    height: 30px;
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
